button{
  padding: 10px;
  font-weight: 60px;
  font-size: 50px;
  color:red;
  background-color: greenyellow;
  border-radius: 6px;
  border: 2px solid brown;

}

h1{
  font-family: "Ginebra";
  background-color: aqua;
  text-shadow: gray 4px 4px 2px;
  letter-spacing: 10px;
  text-align-last: center;
  color: rgb(0, 0, 0);
}

table{
  width:100%;
}

img {
  width: 30%;
    height: auto;
}
